.chat-messages-container{
    flex-grow:1;
    margin-top:20px;
    overflow-y :auto;
    scrollbar-width: none;
}
.welcome-text{
    text-align: center;
    flex-direction: column;
    margin: 0;
}
.chat-messages-0-container{
  display: flex;
  justify-content: center;
  align-items: center;     
  flex-grow: 1;
}