.chat-message-user{
    display: flex;
    justify-content: end;
}
.chat-message-robot{
    display: flex;
    justify-content:start;
    align-items:start;
}
.chat-message-text{
    max-width: 300px;
    background-color: rgb(238,238,238);
    padding: 15px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-right:10px;
    margin-left: 10px;
}
img{
    width:45px;
    height:45px;
    border-radius: 45px;
    object-fit: cover;
}
.para-time{
    font-size: 12px;
    margin-bottom:0;
}